*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* header */
header{
   
    width: 100%;
}
   
 .hdr{
    height: 80px;
    line-height: 80px;
    background: rgba(221, 217, 217, 0.4);

 }  
  
.hdr1{
    float: left;
    padding: 0 100px;
}

nav{
    background: cadetblue;
}
nav ul{
    float: right;
    padding: 0 100px;
}
nav ul li{
    padding: 0 9px;
    list-style: none;
    display: inline;
    
}
.hdr2{
    padding: 50px 100px;
    height: 500px;
    width: 100%;
    background-image: url(img/bb.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;

}

.hdr2 h6{
    padding: 5px 10px;
}
.hdr2 h1{
    padding: 2px 10px;
}
.hdr2 p{
    padding: 20px 0px;
}
.hdr2 b{
    color: blue;
}
.btn{
    padding: 10px 0px;
    height: 40px;
    width: 25%;
    background: rgb(219, 10, 10);
    color: white;
    border-radius: 12px;
    
}

/* 3box */
    .hdr3{
    width: 100%;
    height: 250px;
    text-align: center;
    padding: 0 100px;
    margin-top: 5px;
    background-color: black;
    }
.hr1{
    width: 30%;
    height: 150px;
    background: rgb(219, 10, 10);
    color: white;
    float: left;
    margin: 10px 10px;
    border-radius: 12px;
}
.hr1 h3{
    padding: 10px 0px;
} 
.hr2{
    width: 30%;
    height: 150px;
    background: rgb(219, 10, 10);
    color: white;
    float: left;
    margin: 10px 10px;
    border-radius: 12px;
}
.hr2 h3{
    padding: 10px 0px;
} 
.hr3{
    width: 30%;
    height: 150px;
    background:  rgb(219, 10, 10);
    color: white;
    float: left;
    margin: 10px 10px;
    border-radius: 12px;
}
.hr3 h3{
    padding:5px 0px;
    color: white;
} 
/* section */

section{
   
    width: 100%;
    height: 500px;
    padding: 0 100px;
    background: black;
}
h2{
  
    color: rgb(252, 251, 249);
    text-align: center;
    padding: 5px 0px;
   
}
.sec{
    padding: 5px 0px;
}
.sec1{
    float: left;
    width: 25%;
    height: 270px;
    background: #FFFFFF;
    margin: 5px 5px;
    text-align: center;
    border-radius: 12px;
    padding: 10px 0px;
}
.sec1 h4{
   padding: 10px 0px;
}
.sec1 ul li {
    list-style: none;
    padding: 3px 0px;
}
.sec1 .btn{
   width: 30%;
   padding: 9px 3px;
   font-size: 10px;
   border-radius: 12px;

   
}
.sec2{
    float: left;
    width: 31%;
    height: 400px;
    margin: 5px 5px;
   
}

.s1{
    height: 200px;
    margin: 5px 5px;
    

}
.s1 .im1{
    background-image: url(img/edu.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100%;
}
.s1 .im2{
    height: 100px;
    color: rgb(17, 17, 17);
    background: white;
    padding: 5px 5px;
}
.s1 .im2 p{
    padding: 5px 5px;
}
.s2{
    height: 200px;
    margin: 5px 5px;
    background: darkgray;
}
.s2 .im3{
    background-image: url(img/edu.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100%;
}
.s2 .im4{
    height: 100px;
    color: rgb(17, 17, 17);
    background: white;
    padding: 5px 5px;;
}
.s2 .im4 p{
    padding: 5px 5px;
}

.sec3{
    float: left;
    width: 31%;
height: 500px;
padding: 5px 0px;


}
.s3{
    height: 200px;
    margin: 5px 5px;
    background: darkgray;

}

.s3 .im5{
    background-image: url(img/edu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100%;
}
.s3 .im6{
    height: 100px;
    color: rgb(17, 17, 17);
    background: white;
    padding: 5px 5px;
}
.s3 .im6 p{
    padding: 5px 5px;
}

.s4{
    height: 100px;
    margin: 5px 5px;
    background: cadetblue;
}
.s4 .im7{
    background-image: url(img/edu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100%;
}
.s4 .im8{
    height: 100px;
    color: rgb(17, 17, 17);
    background: white;
    padding: 5px 5px;
}
.s4 .im8 p{
    padding: 5px 5px;
}
/* trans-bnnr */
.tbnr{
    background-image: url(img/bb.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
    width: 100%;
    padding: 0 100px;
   
}
.tb1{
    width: 40%;
    float: left;
    height: 400px;
   
}

.t1{
    height: 200px;
    background: rgba(162, 180, 174, 0.5);
    margin: 1px 5px;
    padding: 30px 30px;
    border-radius: 12px;
    color: white;
}
.t1 p{
    padding: 5px 0px;
}
.btn1{
    padding: 10px 10px;
    background: #f50707e8;
    border-radius: 12px;
    color: white;
}
.t2{
    height: 200px;
    background: rgba(173, 185, 181, 0.5);
    margin: 2px 5px;
    padding: 40px 40px;
    border-radius: 12px;
}
.t2 p{
    padding: 5px 0px;
}
.btn2{
    padding: 10px 10px;
    background: yellow;
    border-radius: 12px;
}

.tb2{
    width: 60%;
    float: left;
    height: 400px;
    background:#FFFFFF;
    padding: 40px 40px;
    border-radius: 12px;
}
.tb2 h4{
    padding: 10px 0px;
    color: rgb(248, 244, 14);
}
.tb2 p{
    padding: 7px 0px;
    color: black;
}
.tb2 h6{
    padding: 9px 0px;
}
.tb2 h3{
    padding: 9px 0px;
}
.tb2 b{
    color: aqua;
}
/* courses */

.csr{
        height: 380px;
        width: 100%;
        padding: 0 100px;
        background: black;
    }
    .csr h2{
        padding: 5px 10px;
    }
.c1{
    padding: 5px 0px;
    height: 300px;
    width: 22%;
    float: left;
    margin: 5px;
    
    text-align: center;
}
.ca{
height: 150px;
background-image: url(img/bb.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}

.cb{
    height: 150px;
    padding: 10px 10px;
    background-color: #FFFFFF;
}


.c2{
    padding: 5px 0px;
    height: 300px;
    width: 22%;
    float: left;
    margin: 5px;
   
}
.cc{
    height: 150px;
    background-image: url(img/bb.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    }
    
    .cd{
        height: 150px;
        padding: 10px 10px;
        background-color: #FFFFFF;
    }
    


.c3{
    padding: 5px 0px;
    height: 300px;
    width: 22%;
    float: left;
    margin: 5px;
    
}

.ce{
    height: 150px;
    background-image: url(img/bb.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    }
    
    .cf{
        height: 150px;
        padding: 10px 10px;
        background-color: #FFFFFF;
    }
    

.c4{
    padding: 5px 0px;
    height: 300px;
    width: 22%;
    float: left;
    margin: 5px;
   
}
.cg{
    height: 150px;
    background-image: url(img/bb.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
    }
    
    .ch{
        height: 150px;
        padding: 10px 10px;
        background-color: #FFFFFF;
    }
    /* facts */
    .fact{
        width: 100%;
        height: 400px;
        background-image: url(img/bb.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        padding: 0 100px;
       
    }
    .fact h2{
        padding: 5px 90px;
        color: white;
    }
    .ft1{
        float: left;
        width: 20%;
        height: 300px;
        margin: 5px;
        padding: 0 10px;
        text-align: center;
        border-radius: 12px;
    }
    .f1{
        
        margin: 10px 0px;
        padding: 20px 0px;
        height: 140px;
        border-radius: 12px;
        background: rgba(67, 75, 67,0.5);
        
    }
.f1 h3{
    color: yellow;
}
    .f1 span{
        color: white;
    }
    
    .f2{
        margin: 10px 0px;
        padding: 20px 0px;
        height: 140px;
        background: rgba(67, 75, 67,0.5);
        border-radius: 12px;
        color: yellow;
       
    }

    .f2 h3{
        color: yellow;
    }
        .f2 span{
            color: white;
        }
        

    .ft2{
        float: left;
        
        width: 20%;
        height: 300px;
        margin: 5px 3px;
        padding: 0 10px;
        
        text-align: center;
        border-radius: 12px;

    }

  .f3{         
     margin: 10px 0px;
                padding: 60px 0px;
                height: 140px;
                background: rgba(67, 75, 67,0.5);
                border-radius: 12px;
                color: yellow;
     }
     .f3 h3{
        color: yellow;
    }
        .f3 span{
            color: white;
        }
        

 .f4{          
     margin: 10px 0px;
                padding: 60px 0px;
                height: 140px;
                background: rgba(95, 102, 95, 0.5);
                border-radius: 12px; 
                color: yellow;
     }

     .f4 h3{
        color: yellow;
    }
        .f4 span{
            color: white;
        }
        

    .ft3 {
         float: left;
         background-image: url(img/edu.jpeg);
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         width: 55%;
         height: 300px;
         margin: 5px;
         padding: 0 20px;
         border-radius: 12px;
     }
     /* form */
     .fm{
        height: 500px;
        width: 100%;
        background-color: black;
        padding: 20px 100px;

     }
     .form{
        width: 65%;
        height: 450px;
        background-color: white;
        float: left;
        padding: 10px 10px;
        border-radius: 10px;
     }
     .form h3{
        padding: 10px 10px;
     }

     input[type=text]{
        width: 30%;
       
        border: 1px solid #ccc;
        border-radius: 4px;
        margin: 5px 5px;  
        padding: 10px 10px; 
      }
      input[type=textarea]{
        width: 94%;
        height: 250px;
        padding: 10px 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin: 5px 5px;  
       
      }
.bt1{
    padding: 10px 10px ;
    border-radius: 50px;
    background-color: red;
    color: white;
}

     .addr{
        text-align: center;
        width: 33%;
        margin: 2px 2px;
        height: 450px;
        background-color: #f50707;
        float: right;
        border-radius: 10px;
        padding: 25px 100px;
     }
     .addr h4{
        padding: 10px 0px;
     }
     .addr h2{
        padding: 10px 0px;
     }
    
     /* footer */
     footer{
        width: 100%;
        height: 100px;
        line-height: 100px;
        text-align: center;
        background: black;
        color: #ccc;
     }
      footer p{
        font-size:15px ;
      }
      footer hr{
        background-color: grey;
      }